

body {
  background: #002b36;
  font-family: 'Roboto Mono', monospace;
}

.search-section{
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 2rem;
}
.search-input{
  flex-grow: 10;
  color: #fff;
  padding-top: 5px;
  border: none;
  font-size: 1em;
  font-weight: 200;
  background: none;
  opacity: 1;
  font-family: 'Roboto Mono', monospace;
  transition: all 0.5s ease;
}
.search-btn{
  flex-grow: 1;
  
}
.search-input::-webkit-calendar-picker-indicator {
  display: none;
}
